* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5eeee;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family; serif; 
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #00adb5;
}

nav a.active {
    color: #00adb5;
    border-bottom: 2px solid #00adb5;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    text-align: center;
    padding: 20px;
}

.hero span {
    color: #ffdd57;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #ffdd57;
    cursor: pointer;
    font-weight: bold;
}

.section {
    padding: 100px 50px;
    text-align: center;
}

.dark {
    background: #222;
    color: white;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill {
    background: #00adb5;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #00adb5;
    border: none;
    color: white;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

@media(max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
